@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@100;300;400;500;600&display=swap');

$purpl: #7a8daa;
$dk-purpl: #4e5a6b;
$wht: #fff;
$blu: #acc4e8;
$lht-blu: #97d9e1;
$blk: #232323;
$gry: #666;
$lt-gry: rgb(243, 243, 243);
$org: #2a77eb;
$dk-org: #2059ae;
$dd-pnk: #ffe5ff;

// $org: #f05f40;
// $dk-org: #b54d35;

$p2-shadow: #2a77eb48;

$bdr-radius: 10px;

*,
:after,
:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition-duration: 100ms;
}

html {
  scroll-behavior: smooth;

  body {
    font-family: 'Poppins', sans-serif;
    color: $gry;
    line-height: 1.5;

    h1,
    h2,
    h3,
    h4,
    h5 {
      font-family: 'Poppins', sans-serif;
      color: $blk;
    }

    h1 {
      font-weight: 600;
      line-height: 1.2;
      font-size: clamp(2.4rem, 4vw, 4rem);
    }

    h2 {
      font-size: clamp(3.4rem, 4vw, 2.5em);
      font-weight: 300;
      line-height: 1;
      padding-bottom: 40px;
    }

    h3 {
      font-size: clamp(1.4rem, 2.4vw, 3.4rem);
      font-weight: 400;
    }

    #about,
    #projects,
    #coding,
    #skills,
    #connect {
      padding: 10rem 1.25rem;
    }

    .para {
      max-width: 600px;
      width: 100%;
      text-align: center;
      margin: 0 auto;
      padding-bottom: 40px;
    }

    nav {
      a {
        font-family: 'Oswald', sans-serif;
        color: $org;
        &:hover {
          color: $org;
        }
      }
    }
    .navbar {
      backdrop-filter: blur(10px);
      background: rgba(255, 255, 255, 0.737);
      box-shadow: 0 0 50px $p2-shadow;
      padding: 1.5em;
      text-transform: uppercase;
    }

    .navbar-brand .logo {
      font-family: 'Oswald', sans-serif;
      font-size: 1.4em;
      padding: 5px;
      background: $blk;
      color: #fff;
      width: 40px;
      height: 40px;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 50px $p2-shadow;

      &:hover {
        background: $dk-org;
      }
    }


    .navbar-light .navbar-toggler {
      border: unset;
    }

    .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
      color: $wht;
      font-weight: 400;
      background: $dk-org;
      margin-top: 2px;
  }

    .hero {
      height: 100vh;
      position: static;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      background: url('./assets/Banner01.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 20%;

      @media (min-width: 768px) {
        background-position: 20% 20%;
      }

      .content {
        display: flex;
        padding: 0;
        width: 100%;

        h3 strong{
          color: $dk-org;
        }

        @media (min-width: 768px) {
          padding: 0;
          width: 70%;
        }
      }

      .btn-grp {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;

        .btn {
          margin-right: 10px;

          &:hover {
            box-shadow: 0 0 10px $p2-shadow;
          }
        }
      }
    }

    /* About */

    .about {
      background-color: $wht;
      min-height: 44em;
      overflow: hidden;

      .right-content {
        position: relative;
        z-index: 10;
        background: $blu;
        color: $wht;
        height: 50vh;
        display: flex;
        align-items: center;
        padding: unset;
        align-items: flex-end;
        justify-content: flex-end;
        border-radius: 10px;
        margin: 30px 0px 30px;

        @media (min-width: 992px) {
          justify-content: flex-start;
        }

        @media (min-width: 576px) {
          margin: 100px 0px 30px;
        }

        h2 {
          color: #fff;
          position: relative;
          top: 30px;
          background: $blk;
          padding: 20px 20px;
          font-size: 1.2em;
          font-weight: unset;
          width: 70%;
          border-top-right-radius: 10px;
        }

        &:after {
          content: '';
          background-image: url('./assets/about_photo.png');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: 31%;
          opacity: 1;
          width: 100%;
          height: 60vh;
          border-radius: 10px;
          position: absolute;
        }
      }

      .sub {
        position: relative;
        z-index: 100;
      }

      .content-left {
        position: relative;
        z-index: 10;
        padding: 1.2em;
        max-width: 600px;
        width: 100%;
        background: $wht;
      }
      .content-right {
        position: relative;
        z-index: 10;
        padding: 1.2em;
        max-width: 600px;
        width: 100%;
        background: $gry;
      }

      .about-img {
        display: flex;
        position: relative;
        background: $org;
        width: 40%;
        height: 500px;
        margin-top: 100px;
        padding: 0px;
        border-radius: 20px;
        left: -50px;

        @media (max-width: 1070px) {
          width: 100%;
          height: 400px;
          padding: 20px;
          margin-top: unset;
          left: 0;
        }

        @media (min-width: 1200px) {
          left: 0;
        }

        img {
          position: relative;
          left: 140px;
          top: -40px;
          margin: 0;
          border: solid $wht 16px;
          border-radius: 40px;

          @media (max-width: 1070px) {
            border: solid $wht 8px;
            position: unset;
            left: 0;
            top: 0;
            margin: 0 auto;
          }
        }
      }

      .content {
        position: relative;
        z-index: 10;
        padding: 1.2em 3em;
        max-width: 600px;
        width: 100%;
        float: right;

        @media (max-width: 1070px) {
          padding: 1.2em;
        }
      }
    }

    /* Skills */

    .skills {
      background: $blu;
      color: $blk;
      padding: 5rem 0.5em;
      min-height: 100vh;

      svg {
        color: $blk;
        border: solid 1px $blk;
        border-radius: 50%;
        padding: 4px;
        margin-bottom: 6px;
        font-size: 2em;
      }

      h2 {
        text-align: center;
      }

      h4 {
        font-size: 1em;
        text-transform: unset;
      }

      .grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        // border: solid 1px red;
      }

      .skill-card {
        background-color: $wht;
        color: $blk;
        padding: 6px 16px 1px;
        margin: 4px;
        border-radius: 50px;
        transition: transform 250ms ease-out;
        min-width: 300px;

        &:hover {
          box-shadow: 0 0 10px $dk-org;
        }

        @media (max-width: 991px) {
          max-width: 120px;
          width: unset;
        }

        p {
          font-size: 0.8em;
        }
      }
    }

    .coding-card {
      background-color: $wht;
      color: $blk;
      margin: 0 0.8em 0.8em 0;
      padding: 1em;
      border-radius: $bdr-radius;
      border: solid 2px $wht;

      &:hover {
        box-shadow: 0 0 10px $p2-shadow;
        border: solid 2px $org;
      }
    }

    .card {
      border-radius: $bdr-radius;
      background-color: $wht;
      transition: transform 250ms ease-out;

      &:hover {
        box-shadow: 0 0 20px $p2-shadow;
        transform: translateY(-5px);
        transform-origin: center;
      }
    }

    // Projects
    .projects {
      padding: 5rem 1.5em;
      min-height: 100vh;

      h2 {
        text-align: center;
      }

      .card {
        .card-img {
          border-top-right-radius: $bdr-radius;
          border-top-left-radius: $bdr-radius;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
      .other-links {
        display: flex;
        justify-content: space-between;
      }
    }

    // Connect
    .connect {
      padding: 5rem 1.5em;
      background: $blk;
      color: $wht;
      min-height: 50vh;
      position: absolute;
      width: 100%;

      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 600px;

        @media (min-width: 768px) {
          flex-direction: row;
        }
      }

      h2 {
        color: $org;
      }

      .email-border-wrap {
        background: linear-gradient(
          324deg,
          rgba(43, 119, 235, 1) 0%,
          rgb(218, 233, 255) 100%
        );
        border-radius: 10px;
        padding: 1px;
        box-shadow: 0 0 10px rgb(0, 0, 0);
      }

      .email {
        border-radius: 10px;
        padding: 40px;
        background: rgb(43, 119, 235);
        background: linear-gradient(
          324deg,
          rgba(43, 119, 235, 1) 0%,
          rgb(153, 176, 212) 100%
        );

        form {
          display: flex;
          flex-direction: column;

          .form-elements {
            border-radius: 10px;
            border: unset;
            padding: 4px 6px;
            margin-bottom: 20px;
          }

          .g-recaptcha {
            margin-bottom: 20px;
            width: 100%;
          }
        }
      }
    }

    .btn {
      border-radius: 50px;
      padding: 0.5rem 2rem;
      font-family: 'Poppins', sans-serif;
      font-size: 1em;

      @media (max-width: 374px) {
        border-radius: 30px;
        padding: 0.5rem 1rem;
      }
    }

    .btn-primary {
      color: $wht;
      background-color: $blk;
      border-color: $blk;

      &:hover {
        color: $blk;
        background-color: transparent;
        border-color: $blk;
      }
    }

    .btn-primary:not(:disabled):not(.disabled).active,
    .btn-primary:not(:disabled):not(.disabled):active,
    .show > .btn-primary.dropdown-toggle {
      color: $wht;
      background-color: $blk;
      border-color: $blk;
    }

    .btn-primary.focus,
    .btn-primary:focus {
      color: $wht;
      background-color: $blk;
      border-color: $blk;
      box-shadow: 0 0 0 0.2rem $p2-shadow;
    }

    .btn-purpl {
      color: $wht;
      background-color: $purpl;
      border-color: $purpl;

      &:hover {
        color: $wht;
        background-color: $dk-purpl;
        border-color: $dk-purpl;
      }
    }

    .btn-org {
      color: $wht;
      background-color: $org;
      border-color: $org;

      &:hover {
        color: $wht;
        background-color: $dk-org;
        border-color: $dk-org;
      }
    }
  }
}
