@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Oswald:wght@300;400;600;700&display=swap");
*,
:after,
:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition-duration: 100ms;
}

html {
  scroll-behavior: smooth;
}
html body {
  font-family: "Open Sans", sans-serif;
  color: #666;
  font-size: 18px;
  line-height: 2.2;
  /* About */
  /* Skills */
}
html body h1,
html body h2,
html body h3,
html body h4,
html body h5 {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  color: #101010;
}
html body h1 {
  font-weight: 700;
  line-height: 1;
  font-size: clamp(3.4rem, 4vw, 5rem);
}
html body h2 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
  padding-bottom: 40px;
}
html body h3 {
  font-size: 1.2rem;
  font-weight: 400;
}
html body .about,
html body .projects,
html body .coding,
html body .skills,
html body .connect {
  padding: 3.125rem 1.25rem;
}
html body .para {
  max-width: 600px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 40px;
}
html body nav a {
  font-family: "Oswald", sans-serif;
  color: #f05f40;
}
html body nav a:hover {
  color: #f05f40;
}
html body .navbar {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: rgb(255, 255, 255);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  padding: 1.5em;
  text-transform: uppercase;
}
html body .navbar-light .navbar-toggler {
  border: unset;
}
html body .hero {
  background-color: #d9afd9;
  background-image: linear-gradient(159deg, #d9afd9 0%, #97d9e1 50%, #ffffff 100%);
  min-height: 100vh;
  position: static;
  overflow: hidden;
}
html body .hero h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4rem;
  line-height: 0.8;
  max-width: 75%;
}
@media (min-width: 768px) {
  html body .hero h1 {
    font-size: 4em;
  }
}
@media (min-width: 1200px) {
  html body .hero h1 {
    font-size: 5em;
  }
}
html body .hero h3 {
  font-size: 2rem;
  max-width: 80vw;
  text-transform: unset;
}
@media (min-width: 768px) {
  html body .hero h3 {
    font-size: 2.5em;
  }
}
html body .hero .left-content {
  position: relative;
  z-index: 10;
  background: #f05f40;
  padding: 6em 1.5em 0;
  height: 100vh;
  display: flex;
  align-items: center;
  min-height: 100vh;
}
@media (min-width: 768px) {
  html body .hero .left-content {
    padding: 6em 1.5em 0 4em;
  }
}
html body .hero .right-content {
  position: relative;
  z-index: 10;
  background: #101010;
  color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding: unset;
  align-items: flex-end;
  justify-content: flex-end;
}
@media (min-width: 992px) {
  html body .hero .right-content {
    justify-content: flex-start;
  }
}
html body .hero .right-content h2 {
  color: #fff;
  padding: 20px;
  font-size: 1.5em;
  max-width: 30%;
  line-height: 1;
  text-transform: unset;
  font-weight: unset;
}
@media (min-width: 768px) {
  html body .hero .right-content h2 {
    font-size: 2.5em;
  }
}
html body .hero .right-content:after {
  content: "";
  background-image: url(./assets/about_photo_org.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -300px 70px;
  opacity: 0.5;
  width: 500px;
  width: 100%;
  height: 100vh;
  position: absolute;
}
html body .hero .content-left {
  position: relative;
  z-index: 10;
  padding: 1.2em;
  max-width: 600px;
  width: 100%;
  background: #fff;
}
html body .hero .content-right {
  position: relative;
  z-index: 10;
  padding: 1.2em;
  max-width: 600px;
  width: 100%;
  background: #666;
}
html body .hero:after {
  width: 100%;
  position: absolute;
  content: "";
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, #ffffff 100%);
  min-height: 100vh;
  left: 0;
  z-index: 2;
}
html body .about {
  background-color: #fff;
  min-height: 44em;
  overflow: hidden;
}
html body .about .about-img {
  display: flex;
  position: relative;
  background: #f05f40;
  width: 40%;
  height: 500px;
  margin-top: 100px;
  padding: 0px;
  border-radius: 20px;
}
@media (max-width: 1070px) {
  html body .about .about-img {
    width: 100%;
    height: 200px;
    padding: 20px;
    margin-top: unset;
  }
}
html body .about .about-img img {
  position: relative;
  left: 140px;
  top: -40px;
  margin: 0;
  border: solid #fff 16px;
  border-radius: 40px;
}
@media (max-width: 1070px) {
  html body .about .about-img img {
    border: solid #fff 8px;
    position: unset;
    left: 0;
    top: 0;
    margin: 0 auto;
  }
}
html body .about .content {
  position: relative;
  z-index: 10;
  padding: 1.2em 3em;
  max-width: 600px;
  width: 100%;
  float: right;
}
@media (max-width: 1070px) {
  html body .about .content {
    padding: 1.2em;
  }
}
html body .skills {
  background: #acc4e8;
  color: #101010;
  padding: 5rem 0.5em;
  min-height: 100vh;
}
html body .skills svg {
  color: #101010;
  border: solid 1px #101010;
  border-radius: 50%;
  padding: 4px;
  margin-bottom: 6px;
  font-size: 2em;
}
html body .skills h2 {
  text-align: center;
}
html body .skills h4 {
  font-size: 1em;
  text-transform: unset;
}
html body .skills .skill-card {
  background-color: #fff;
  color: #101010;
  margin: 0 0.8em 0.8em 0;
  padding: 1em;
  border-radius: 10px;
  border: solid 1px rgb(243, 243, 243);
  transition: transform 250ms ease-out;
  max-width: 300px;
  width: 100%;
}
@media (max-width: 991px) {
  html body .skills .skill-card {
    margin: 0.8em auto;
  }
}
html body .skills .skill-card p {
  font-size: 0.8em;
}
html body .skills .skill-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: solid 1px rgb(243, 243, 243);
  transform-origin: center;
  transform: translateY(-5px);
}
html body .coding-card {
  background-color: #fff;
  color: #101010;
  margin: 0 0.8em 0.8em 0;
  padding: 1em;
  border-radius: 10px;
  border: solid 2px #fff;
}
html body .coding-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: solid 2px #f05f40;
}
html body .card {
  border-radius: 10px;
  background-color: #fff;
  transition: transform 250ms ease-out;
}
html body .card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
  transform-origin: center;
}
html body .projects {
  padding: 5rem 1.5em;
  min-height: 100vh;
}
html body .projects h2 {
  text-align: center;
}
html body .projects .card .card-img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
html body .connect {
  padding: 5rem 1.5em;
  background: #101010;
  color: #fff;
  min-height: 50vh;
  position: absolute;
  width: 100%;
}
html body .connect h2 {
  color: #f05f40;
}
html body .btn {
  border-radius: 50px;
  padding: 0.5rem 2rem;
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
}
html body .btn-primary {
  color: #fff;
  background-color: #101010;
  border-color: #101010;
}
html body .btn-primary:hover {
  color: #101010;
  background-color: transparent;
  border-color: #101010;
}
html body .btn-primary:not(:disabled):not(.disabled).active,
html body .btn-primary:not(:disabled):not(.disabled):active,
html body .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #101010;
  border-color: #101010;
}
html body .btn-primary.focus,
html body .btn-primary:focus {
  color: #fff;
  background-color: #101010;
  border-color: #101010;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.3);
}
html body .btn-purpl {
  color: #fff;
  background-color: #7a8daa;
  border-color: #7a8daa;
}
html body .btn-purpl:hover {
  color: #fff;
  background-color: #4e5a6b;
  border-color: #4e5a6b;
}
html body .btn-org {
  color: #fff;
  background-color: #f05f40;
  border-color: #f05f40;
}
html body .btn-org:hover {
  color: #fff;
  background-color: #b54d35;
  border-color: #b54d35;
}/*# sourceMappingURL=App.css.map */