@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@100;300;400;500;600&display=swap");
*,
:after,
:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition-duration: 100ms;
}

html {
  scroll-behavior: smooth;
}
html body {
  font-family: "Poppins", sans-serif;
  color: #666;
  line-height: 1.5;
  /* About */
  /* Skills */
}
html body h1,
html body h2,
html body h3,
html body h4,
html body h5 {
  font-family: "Poppins", sans-serif;
  color: #232323;
}
html body h1 {
  font-weight: 600;
  line-height: 1.2;
  font-size: clamp(2.4rem, 4vw, 4rem);
}
html body h2 {
  font-size: clamp(3.4rem, 4vw, 2.5em);
  font-weight: 300;
  line-height: 1;
  padding-bottom: 40px;
}
html body h3 {
  font-size: clamp(1.4rem, 2.4vw, 3.4rem);
  font-weight: 400;
}
html body #about,
html body #projects,
html body #coding,
html body #skills,
html body #connect {
  padding: 10rem 1.25rem;
}
html body .para {
  max-width: 600px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 40px;
}
html body nav a {
  font-family: "Oswald", sans-serif;
  color: #2a77eb;
}
html body nav a:hover {
  color: #2a77eb;
}
html body .navbar {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.737);
  box-shadow: 0 0 50px rgba(42, 119, 235, 0.2823529412);
  padding: 1.5em;
  text-transform: uppercase;
}
html body .navbar-brand .logo {
  font-family: "Oswald", sans-serif;
  font-size: 1.5em;
  padding: 5px;
  background: #232323;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 50px rgba(42, 119, 235, 0.2823529412);
}
html body .navbar-light .navbar-toggler {
  border: unset;
}
html body .hero {
  height: 100vh;
  position: static;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("./assets/Banner01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 20%;
}
@media (min-width: 768px) {
  html body .hero {
    background-position: 20% 20%;
  }
}
html body .hero .content {
  display: flex;
  padding: 0;
  width: 100%;
}
@media (min-width: 768px) {
  html body .hero .content {
    padding: 0;
    width: 70%;
  }
}
html body .hero .btn-grp {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
html body .hero .btn-grp .btn {
  margin-right: 10px;
}
html body .hero .btn-grp .btn:hover {
  box-shadow: 0 0 10px rgba(42, 119, 235, 0.2823529412);
}
html body .about {
  background-color: #fff;
  min-height: 44em;
  overflow: hidden;
}
html body .about .right-content {
  position: relative;
  z-index: 10;
  background: #acc4e8;
  color: #fff;
  height: 50vh;
  display: flex;
  align-items: center;
  padding: unset;
  align-items: flex-end;
  justify-content: flex-end;
  border-radius: 10px;
  margin: 30px 0px 30px;
}
@media (min-width: 992px) {
  html body .about .right-content {
    justify-content: flex-start;
  }
}
@media (min-width: 576px) {
  html body .about .right-content {
    margin: 100px 0px 30px;
  }
}
html body .about .right-content h2 {
  color: #fff;
  position: relative;
  top: 30px;
  background: #232323;
  padding: 20px 20px;
  font-size: 1.2em;
  font-weight: unset;
  width: 70%;
  border-top-right-radius: 10px;
}
html body .about .right-content:after {
  content: "";
  background-image: url("./assets/about_photo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 31%;
  opacity: 1;
  width: 100%;
  height: 60vh;
  position: absolute;
}
html body .about .sub {
  position: relative;
  z-index: 100;
}
html body .about .content-left {
  position: relative;
  z-index: 10;
  padding: 1.2em;
  max-width: 600px;
  width: 100%;
  background: #fff;
}
html body .about .content-right {
  position: relative;
  z-index: 10;
  padding: 1.2em;
  max-width: 600px;
  width: 100%;
  background: #666;
}
html body .about .about-img {
  display: flex;
  position: relative;
  background: #2a77eb;
  width: 40%;
  height: 500px;
  margin-top: 100px;
  padding: 0px;
  border-radius: 20px;
  left: -50px;
}
@media (max-width: 1070px) {
  html body .about .about-img {
    width: 100%;
    height: 400px;
    padding: 20px;
    margin-top: unset;
    left: 0;
  }
}
@media (min-width: 1200px) {
  html body .about .about-img {
    left: 0;
  }
}
html body .about .about-img img {
  position: relative;
  left: 140px;
  top: -40px;
  margin: 0;
  border: solid #fff 16px;
  border-radius: 40px;
}
@media (max-width: 1070px) {
  html body .about .about-img img {
    border: solid #fff 8px;
    position: unset;
    left: 0;
    top: 0;
    margin: 0 auto;
  }
}
html body .about .content {
  position: relative;
  z-index: 10;
  padding: 1.2em 3em;
  max-width: 600px;
  width: 100%;
  float: right;
}
@media (max-width: 1070px) {
  html body .about .content {
    padding: 1.2em;
  }
}
html body .skills {
  background: #acc4e8;
  color: #232323;
  padding: 5rem 0.5em;
  min-height: 100vh;
}
html body .skills svg {
  color: #232323;
  border: solid 1px #232323;
  border-radius: 50%;
  padding: 4px;
  margin-bottom: 6px;
  font-size: 2em;
}
html body .skills h2 {
  text-align: center;
}
html body .skills h4 {
  font-size: 1em;
  text-transform: unset;
}
html body .skills .skill-card {
  background-color: #fff;
  color: #232323;
  margin: 0 0.8em 0.8em 0;
  padding: 1em;
  border-radius: 10px;
  border: solid 1px rgb(243, 243, 243);
  transition: transform 250ms ease-out;
  max-width: 300px;
  width: 100%;
}
@media (max-width: 991px) {
  html body .skills .skill-card {
    padding: 0.6em;
    max-width: 120px;
    width: unset;
  }
}
html body .skills .skill-card p {
  font-size: 0.8em;
}
html body .skills .skill-card:hover {
  box-shadow: 0 0 10px rgba(42, 119, 235, 0.2823529412);
  border: solid 1px rgb(243, 243, 243);
  transform-origin: center;
  transform: translateY(-5px);
}
html body .coding-card {
  background-color: #fff;
  color: #232323;
  margin: 0 0.8em 0.8em 0;
  padding: 1em;
  border-radius: 10px;
  border: solid 2px #fff;
}
html body .coding-card:hover {
  box-shadow: 0 0 10px rgba(42, 119, 235, 0.2823529412);
  border: solid 2px #2a77eb;
}
html body .card {
  border-radius: 10px;
  background-color: #fff;
  transition: transform 250ms ease-out;
}
html body .card:hover {
  box-shadow: 0 0 20px rgba(42, 119, 235, 0.2823529412);
  transform: translateY(-5px);
  transform-origin: center;
}
html body .projects {
  padding: 5rem 1.5em;
  min-height: 100vh;
}
html body .projects h2 {
  text-align: center;
}
html body .projects .card .card-img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
html body .connect {
  padding: 5rem 1.5em;
  background: #232323;
  color: #fff;
  min-height: 50vh;
  position: absolute;
  width: 100%;
}
html body .connect h2 {
  color: #2a77eb;
}
html body .connect p {
  width: 50%;
  margin: 0 auto 40px;
}
html body .btn {
  border-radius: 50px;
  padding: 0.5rem 2rem;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
}
@media (max-width: 374px) {
  html body .btn {
    border-radius: 30px;
    padding: 0.5rem 1rem;
  }
}
html body .btn-primary {
  color: #fff;
  background-color: #232323;
  border-color: #232323;
}
html body .btn-primary:hover {
  color: #232323;
  background-color: transparent;
  border-color: #232323;
}
html body .btn-primary:not(:disabled):not(.disabled).active,
html body .btn-primary:not(:disabled):not(.disabled):active,
html body .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #232323;
  border-color: #232323;
}
html body .btn-primary.focus,
html body .btn-primary:focus {
  color: #fff;
  background-color: #232323;
  border-color: #232323;
  box-shadow: 0 0 0 0.2rem rgba(42, 119, 235, 0.2823529412);
}
html body .btn-purpl {
  color: #fff;
  background-color: #7a8daa;
  border-color: #7a8daa;
}
html body .btn-purpl:hover {
  color: #fff;
  background-color: #4e5a6b;
  border-color: #4e5a6b;
}
html body .btn-org {
  color: #fff;
  background-color: #2a77eb;
  border-color: #2a77eb;
}
html body .btn-org:hover {
  color: #fff;
  background-color: #2059ae;
  border-color: #2059ae;
}/*# sourceMappingURL=App.css.map */